# NBA Data Lab

### Loading the data

In [4]:
import pandas as pd
df = pd.read_csv('./nba_players.csv', index_col = 0)

In [5]:
df[:2]

,player_id,name,weight,birth_date,height,nationality,team_abbreviation,most_recent_season,box_plus_minus,games_played,games_started,player_efficiency_rating,three_point_percentage,true_shooting_percentage,two_point_attempts,two_point_percentage,two_pointers
0,klebima01,Maxi Kleber,240lb,1992-01-29,6-10,Germany,DAL,2018-19,0.3,209.0,75.0,13.4,0.354,0.588,529.0,0.597,316.0
1,wrighde01,Delon Wright,183lb,1992-04-26,6-5,United States of America,DAL,2018-19,2.2,263.0,23.0,16.0,0.345,0.549,1086.0,0.498,541.0

* height 
* weight
* birthdate
* season