# NBA Data Lab

### Introduction

In this lesson, we'll use our knowledge of pandas to coerce data originally drawn from the [sports reference package](https://sportsreference.readthedocs.io/en/stable/).

### Loading the data

In [148]:
import pandas as pd
url = "https://raw.githubusercontent.com/jigsawlabs-student/introductory-pandas/master/2-coercing-data/nba_players.csv?token=ANKFJMFY7KDGORDKHUCCMUK6QVGFA"
df = pd.read_csv(url, index_col = 0)

In [149]:
df[:2]

,player_id,name,weight,birth_date,height,nationality,team_abbreviation,most_recent_season,box_plus_minus,games_played,games_started,player_efficiency_rating,three_point_percentage,true_shooting_percentage,two_point_attempts,two_point_percentage,two_pointers
0,klebima01,Maxi Kleber,240lb,1992-01-29,6-10,Germany,DAL,2018-19,0.3,209.0,75.0,13.4,0.354,0.588,529.0,0.597,316.0
1,wrighde01,Delon Wright,183lb,1992-04-26,6-5,United States of America,DAL,2018-19,2.2,263.0,23.0,16.0,0.345,0.549,1086.0,0.498,541.0

### Exploring the data

Let's start off by looking at the different datatypes of the various columns.

In [144]:


# player_id                    object
# name                         object
# weight                       object
# birth_date                   object
# height                       object
# nationality                  object
# team_abbreviation            object
# most_recent_season           object
# box_plus_minus              float64
# ...
# ...

As we can see the initial datatypes are all of type object, while the later ones are of type string.  Let's just select the columns of type object, and then we can get to work coercing some of the columns.

In [142]:
players_object_df = None

In [157]:

players_object_df.columns
# Index(['player_id', 'name', 'weight', 'birth_date', 'height', 'nationality',
#        'team_abbreviation', 'most_recent_season'],
#       dtype='object')

Ok, now columns like `weight`, `birth_date`, `height`, and `most_recent_season` are candidates to coerce into different datatypes.

Let's just select those columns.

In [158]:
df_candidates = None

In [ ]:
df_candidates[:3]

# 	weight	birth_date	height
# 0	240lb	1992-01-29	6-10
# 1	183lb	1992-04-26	6-5
# 2	220lb	1993-05-04	6-7

### Changing Birthdate

Ok, let's start off by changing the birth_date column to be of type `datetime`.

In [159]:
birth_date_as_dt = None

In [78]:
birth_date_as_dt.dtype
# dtype('<M8[ns]')

dtype('<M8[ns]')

Now that it is properly coerced, we can update the `df_candidates` dataframe with it.

> Notice how assign works, we'll ask you to use it later.

In [79]:
df_candidates = df_candidates.assign(birth_date = birth_date_as_dt)

In [80]:
df_candidates.dtypes

# weight                        object
# birth_date            datetime64[ns]
# height                        object
# most_recent_season            object
# dtype: object

weight                        object
birth_date            datetime64[ns]
height                        object
most_recent_season            object
dtype: object

### Weight

Now let's move onto coercing the weight column.  As we saw, there are a number of ways that we can change weight, so that we only have a digits in each entry.  Try slicing the string, and then try using the replace method to coerce the string so that it only includes digits. 

* Using slice

In [160]:
sliced_weights = None

In [ ]:
sliced_weights[:3]

# 0    240
# 1    183
# 2    220
# Name: weight, dtype: object

* Using replace

In [161]:
replaced_weights = None

In [ ]:
replaced_weights[:2]

# 0    240
# 1    183
# Name: weight, dtype: object

Now let's change the series to type integer.

In [162]:
import numpy as np
weight_int = None

In [84]:
weight_int.dtype
# dtype('int64')

dtype('int64')

And then we'll add it to our `df_candidates`.

> We'll assign the column for you.

In [85]:
df_candidates = df_candidates.assign(weight = weight_int)

In [86]:
df_candidates.dtypes


# weight                         int64
# birth_date            datetime64[ns]
# height                        object
# most_recent_season            object
# dtype: object

weight                         int64
birth_date            datetime64[ns]
height                        object
most_recent_season            object
dtype: object

### Coercing Season

Now let's change the `most_recent_season` column.  Change it so that it only lists the latter year.  (Eg. 2018-19 should be changed to 2019, and 2017-2018 to 2018).

In [88]:
recent_season[:3]

# 0    2019.0
# 1    2019.0
# 2    2019.0

0    2019.0
1    2019.0
2    2019.0
Name: most_recent_season, dtype: float64

Now update `df_candidates` to use the `recent_season` column, using the `assign` method.

In [164]:
# update df_candidates here

In [ ]:
df_candidates.dtypes

# weight                         int64
# birth_date            datetime64[ns]
# height                        object
# most_recent_season           float64
# dtype: object

### Changing Height

Here we'll need to use the height series to calculate the height in inches of each player.  Assign this new series to the variable `total_inches`.

In [166]:
#

In [108]:
total_inches[:5]
# 0    82
# 1    77
# 2    79
# 3    77
# 4    74

0    82
1    77
2    79
3    77
4    74
Name: height, dtype: int64

Next, update `df_candidates` to use the new column.

In [167]:
# write code here

In [114]:
df_candidates.dtypes
# weight                         int64
# birth_date            datetime64[ns]
# height                         int64
# most_recent_season           float64
# dtype: object

weight                         int64
birth_date            datetime64[ns]
height                         int64
most_recent_season           float64
dtype: object

### Updating the original dataframe

Now that we have coerced all of our data, it's time to combine this with the data from our original dataframe.

> Here's our original dataframe.

In [115]:
df[:2]

,player_id,name,weight,birth_date,height,nationality,team_abbreviation,most_recent_season,box_plus_minus,games_played,games_started,player_efficiency_rating,three_point_percentage,true_shooting_percentage,two_point_attempts,two_point_percentage,two_pointers
0,klebima01,Maxi Kleber,240lb,1992-01-29,6-10,Germany,DAL,2018-19,0.3,209.0,75.0,13.4,0.354,0.588,529.0,0.597,316.0
1,wrighde01,Delon Wright,183lb,1992-04-26,6-5,United States of America,DAL,2018-19,2.2,263.0,23.0,16.0,0.345,0.549,1086.0,0.498,541.0

> And these are the columns we wish to replace.

In [116]:
df_candidates.columns

Index(['weight', 'birth_date', 'height', 'most_recent_season'], dtype='object')

> So we first select all of the columns from our original dataframe that we will not be replacing.

In [123]:
original_cols = df.loc[:, ~df.columns.isin(df_candidates.columns)]

In [125]:
original_cols[:2]

,player_id,name,nationality,team_abbreviation,box_plus_minus,games_played,games_started,player_efficiency_rating,three_point_percentage,true_shooting_percentage,two_point_attempts,two_point_percentage,two_pointers
0,klebima01,Maxi Kleber,Germany,DAL,0.3,209.0,75.0,13.4,0.354,0.588,529.0,0.597,316.0
1,wrighde01,Delon Wright,United States of America,DAL,2.2,263.0,23.0,16.0,0.345,0.549,1086.0,0.498,541.0

> And then we merge the columns from the original dataframe, with the newly coerced dataframe.

In [130]:
updated_players = df_candidates.merge(original_cols, left_index=True, right_index=True)

In [131]:
updated_players[:2]

,weight,birth_date,height,most_recent_season,player_id,name,nationality,team_abbreviation,box_plus_minus,games_played,games_started,player_efficiency_rating,three_point_percentage,true_shooting_percentage,two_point_attempts,two_point_percentage,two_pointers
0,240,1992-01-29,82,2019.0,klebima01,Maxi Kleber,Germany,DAL,0.3,209.0,75.0,13.4,0.354,0.588,529.0,0.597,316.0
1,183,1992-04-26,77,2019.0,wrighde01,Delon Wright,United States of America,DAL,2.2,263.0,23.0,16.0,0.345,0.549,1086.0,0.498,541.0

Let's make sure that the data lines up with our original.

In [132]:
df[:2]

,player_id,name,weight,birth_date,height,nationality,team_abbreviation,most_recent_season,box_plus_minus,games_played,games_started,player_efficiency_rating,three_point_percentage,true_shooting_percentage,two_point_attempts,two_point_percentage,two_pointers
0,klebima01,Maxi Kleber,240lb,1992-01-29,6-10,Germany,DAL,2018-19,0.3,209.0,75.0,13.4,0.354,0.588,529.0,0.597,316.0
1,wrighde01,Delon Wright,183lb,1992-04-26,6-5,United States of America,DAL,2018-19,2.2,263.0,23.0,16.0,0.345,0.549,1086.0,0.498,541.0

And then, let's reorder the columns of our `updated_players` dataframe.

In [133]:
updated_players.columns

Index(['weight', 'birth_date', 'height', 'most_recent_season', 'player_id',
       'name', 'nationality', 'team_abbreviation', 'box_plus_minus',
       'games_played', 'games_started', 'player_efficiency_rating',
       'three_point_percentage', 'true_shooting_percentage',
       'two_point_attempts', 'two_point_percentage', 'two_pointers'],
      dtype='object')

In [137]:
df.columns

Index(['player_id', 'name', 'weight', 'birth_date', 'height', 'nationality',
       'team_abbreviation', 'most_recent_season', 'box_plus_minus',
       'games_played', 'games_started', 'player_efficiency_rating',
       'three_point_percentage', 'true_shooting_percentage',
       'two_point_attempts', 'two_point_percentage', 'two_pointers'],
      dtype='object')

We can do so, by using the original dataframe's columns with the `loc` method.

In [141]:
players_df = updated_players.loc[:, df.columns]
players_df[:2]

,player_id,name,weight,birth_date,height,nationality,team_abbreviation,most_recent_season,box_plus_minus,games_played,games_started,player_efficiency_rating,three_point_percentage,true_shooting_percentage,two_point_attempts,two_point_percentage,two_pointers
0,klebima01,Maxi Kleber,240,1992-01-29,82,Germany,DAL,2019.0,0.3,209.0,75.0,13.4,0.354,0.588,529.0,0.597,316.0
1,wrighde01,Delon Wright,183,1992-04-26,77,United States of America,DAL,2019.0,2.2,263.0,23.0,16.0,0.345,0.549,1086.0,0.498,541.0

### Summary

Nice job.  You are your pandas stripes.

### Resources

[Sports Reference API](https://sportsreference.readthedocs.io/en/stable/)

[Set with Copy Warning](https://www.dataquest.io/blog/settingwithcopywarning/)