# Selecting Rows Lab

## Introduction
In this lab we will use Pandas selectors `loc` and `iloc` to select data in a dataframe. `iloc` is used for integer based selection, while `loc` is used for label based selection. Import the pandas library and then load the data from `bike_sharing.csv` into a dataframe.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('bike_sharing.csv')

In [4]:
#print the first five rows of the data set
df.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

### .iloc

Select the row 42 in the dataframe with all of the features

In [5]:
df.iloc[42]

datetime      2011-01-02 19:00:00
season                          1
holiday                         0
workingday                      0
weather                         1
temp                        13.12
atemp                      14.395
humidity                       42
windspeed                 30.0026
casual                          1
registered                     29
count                          30
Name: 42, dtype: object

Select rows 50 to 60, with only the last two columns

In [6]:
df.iloc[50:60, -2:]

    registered  count
50           3      3
51          30     30
52          63     64
53         153    154
54          81     88
55          33     44
56          41     51
57          48     61
58          53     61
59          66     77

Select every 500th row in the dataframe

In [1]:
# df.iloc[range(0, len(df), 500)]

### loc

Select the 20th row and every column after "holiday", inclusive

In [12]:
df.loc[20, "holiday":]

holiday             0
workingday          0
weather             2
temp             16.4
atemp          20.455
humidity           87
windspeed     16.9979
casual             11
registered         25
count              36
Name: 20, dtype: object

Select the all columns in between "temp" and "casual", inclusive. (Select all rows)