## Introduction to Pandas dataframes

> "If you count something you find interesting, you will learn something interesting."

> Atul Gawande

### Introduction

* Statistics to describe and explain our world.  
* describing our world with data involves descriptive statistics.

1. DataFrames
2. Series
3. Index

### Gathering our data

In [2]:
import pandas as pd

In [3]:
movies_df = pd.read_csv('https://raw.githubusercontent.com/fivethirtyeight/data/master/bechdel/movies.csv')

In [4]:
type(movies_df)

pandas.core.frame.DataFrame

In [5]:
movie_records = movies_df.to_dict('records')

In [6]:
# movies_df.to_numpy()

### Working with a series

We'll talk more about dataframes later, but for now, let's select a single column from our dataframe.

In [23]:
year_ser = movies_df['year']
year_ser[:2]

0    2013
1    2012
Name: year, dtype: int64

In [24]:
type(year_ser)

pandas.core.series.Series

In [29]:
year_ser.to_list()[:2]

[2013, 2012]

### The index

Let's take another look at our dataframe.

In [52]:
movies_df[:2]

,year,imdb,title,test,clean_test,binary,budget,domgross,intgross,code,budget_2013$,domgross_2013$,intgross_2013$,period_code,decade_code
0,2013,tt1711425,21 &amp; Over,notalk,notalk,FAIL,13000000,25682380.0,42195766.0,2013FAIL,13000000,25682380.0,42195766.0,1.0,1.0
1,2012,tt1343727,Dredd 3D,ok-disagree,ok,PASS,45000000,13414714.0,40868994.0,2012PASS,45658735,13611086.0,41467257.0,1.0,1.0

In [51]:
movies_df.index

RangeIndex(start=0, stop=1794, step=1)

In [54]:
movies_df.index = list(range(3, len(movies_df) + 3))

In [9]:
import numpy as np
arr = np.arange(5)